<div class="section" id="about">
  <div class="container">
    <div class="" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12 d-flex">
          <div class="card-body">
            <!-- <div class="h4 mt-0 title">About</div> -->
            <div class="container">
              <div class="vcard">
                <div class="header">
                  <p class="title">About</p>
                  <span class="copy">
                    <svg
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      height="24"
                      width="24"
                      xmlns="http://www.w3.org/2000/svg"
                      aria-hidden="true"
                      class="w-[19px] h-[19px] text-gray-800 dark:text-white"
                    >
                      <path
                        clip-rule="evenodd"
                        d="M18 3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1V9a4 4 0 0 0-4-4h-3a1.99 1.99 0 0 0-1 .267V5a2 2 0 0 1 2-2h7Z"
                        fill-rule="evenodd"
                      ></path>
                      <path
                        clip-rule="evenodd"
                        d="M8 7.054V11H4.2a2 2 0 0 1 .281-.432l2.46-2.87A2 2 0 0 1 8 7.054ZM10 7v4a2 2 0 0 1-2 2H4v6a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-3Z"
                        fill-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </div>

                <div class="footer">
                  <div class="code" *ngFor="let m of about2 | split">
                    <span class="icon">
                      <svg
                        viewBox="0 0 24 24"
                        fill="none"
                        height="13"
                        width="13"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                        class="w-[19px] h-[19px] text-gray-800 dark:text-white"
                      >
                        <path
                          d="m9 5 7 7-7 7"
                          stroke-width="3"
                          stroke-linejoin="round"
                          stroke-linecap="round"
                          stroke="currentColor"
                        ></path>
                      </svg>
                    </span>
                    <p class="text">{{ m }}</p>
                  </div>
                  <div class="code">
                    <p class="text">{{ about1 }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 d-flex">
          <div class="container flex-grow-1 d-flex">
            <div class="vcard">
              <div class="header">
                <p class="title">Basic Information</p>
                <span class="copy">
                  <svg
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    height="24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    class="w-[19px] h-[19px] text-gray-800 dark:text-white"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M18 3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1V9a4 4 0 0 0-4-4h-3a1.99 1.99 0 0 0-1 .267V5a2 2 0 0 1 2-2h7Z"
                      fill-rule="evenodd"
                    ></path>
                    <path
                      clip-rule="evenodd"
                      d="M8 7.054V11H4.2a2 2 0 0 1 .281-.432l2.46-2.87A2 2 0 0 1 8 7.054ZM10 7v4a2 2 0 0 1-2 2H4v6a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-3Z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </span>
              </div>

              <div class="footer">
                <div class="text">
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="text-uppercase">Date of Birth:</strong>
                    </div>
                    <div class="col-sm-8">December 08, 1999</div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4">
                      <strong class="text-uppercase">Email:</strong>
                    </div>
                    <div class="col-sm-8">thirupathineeraja08@gmail.com</div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4">
                      <strong class="text-uppercase">Phone:</strong>
                    </div>
                    <div class="col-sm-8">+91 9398096439</div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4">
                      <strong class="text-uppercase">Address:</strong>
                    </div>
                    <div class="col-sm-8">
                      Rajendra nagar colony,New Hafeezpet,near Hafeezpet Bus
                      stop,500049
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4">
                      <strong class="text-uppercase">Language:</strong>
                    </div>
                    <div class="col-sm-8">Telugu, English</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
