<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 ehead"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2016 - 2020</p>
            <div class="h5 subcat">Bachelor's Degree</div>
          </div>
        </div>
        <div
          class="col-md-9 ebody"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5 subcat">Bachelor of Engineering</div>
            <h4 class="category">
              MALLAREDDY ENGINEERING COLLEGE AND MANAGEMENT SCIENCES,HYDERABAD
            </h4>
            <ul class="subtext">
              <li>
                Completed B.E in Computer Engineering with <b>7.0 CGPA</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 ehead"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2014 - 2016</p>
            <div class="h5">Higher Secondary</div>
          </div>
        </div>
        <div
          class="col-md-9 ebody"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5 subcat">Higher Secondary</div>
            <h4 class="category">NARAYANA JUNIOR COLLEGE,HYDERABAD</h4>
            <ul class="subtext">
              <li>
                The High School was mainly focus on the bases of science,
                mathematics, and Chemistry
              </li>
              <li>
                There was also a good base on physics, mathematics and
                chemistry.
              </li>
              <li>Completed my high school with<b> 87%</b>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 ehead"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2013 - 2014</p>
            <div class="h5 subcat">Secondary School</div>
          </div>
        </div>
        <div
          class="col-md-9 ebody"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5 subcat">Secondary School</div>
            <h4 class="category">RAVINDRA HIGH SCHOOL, SIDDIPET</h4>
            <ul class="subtext">
              <li>
                The Secondary aims at Maths , English , Science, Social Science,
                Litrature and Languages.
              </li>

              <li>Completed my Secondary school with <b>77%</b>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
