h4 {
  color: #4a4843;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 2px;
}

.card {
  background: transparent;
}

.ehead {
  background: rgba(24, 177, 255, 0.1);
  //border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(24, 177, 255, 0.3);
}

.ebody {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0 16px 16px 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
