<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="white">
      <div
        class="page-header-image introdp-{{ introBg }}"
        data-parallax="true"
        style="background-image: url('assets/images/intdp2.png')"
      ></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image bgl-{{ introBg }}">
            <a href="#">
              <img
                src="assets/images/neerajadp2.jpg"
                alt="Image"
                style="object-fit: contain"
              />
            </a>
          </div>
          <h1 class="h2 title">Neeraja Thirupathi</h1>
          <p class="category text-white">Software Developer</p>
          <!-- <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Hire Me</a> -->
          <a
            class="btn bg-nav glass-{{ introBg }}"
            href="{{ cvUrl }}"
            target="_blank"
            data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor"
            >Download CV</a
          >
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a
              class="btn btn-default btn-round btn-lg btn-icon bg-nav glass-{{
                introBg
              }}"
              href="https://www.linkedin.com/in/neeraja-t/"
              target="_blank"
              rel="tooltip"
              title="Follow me on Linkedin"
            >
              <i class="fa fa-linkedin"></i>
            </a>
            <a
              class="btn btn-default btn-round btn-lg btn-icon bg-nav glass-{{
                introBg
              }}"
              href="https://github.com/Neeraja08"
              target="_blank"
              rel="tooltip"
              title="Follow me on Github"
            >
              <i class="fa fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
